<header class="header">
  <div class="header__inner container">
      <div class="header__left">
      	<a class="logo" href="/"><img src="/_assets/images/telavox-logo-full-color-comp.svg" alt="Telavox logo"></a>
      </div>
			<div class="header__right">
					{% include "navigation.njk" %}
			</div>
  </div>
</header>
