<header class="header">
  <div class="header__inner container">
		<a class="header__brand" href="/" rel="home" aria-label="Go To Homepage">
			<img src="/_assets/images/11ty-logo-bg.svg" alt="11ty logo" height="38" width="38">
			<span class="header__brand__text">{{ meta.title }}</span>
		</a>
		<div class="header__right">
			{% include "navigation.njk" %}
		</div>
  </div>
</header>
