<div class="toc">
	<details closed class="v-toc">
		<summary class="v-toc__summary">
			<span class="v-toc__summary-inner">
				<span class="v-toc__title">
					Table of Contents
				</span>
			</span>
		</summary>
		<nav class="v-toc__nav" data-toc aria-label="Table of Contents">
			{{ tocMarkup }}
		</nav>
	</details>
</div>
