---
layout: base.njk
---

<article id="{{ title | slug }}" class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" aria-labelledby="{{ title | slug }}-title">

  <header class="article__header">
  
    <h1 id="{{ title | slug }}-title" class="post__title p-name title" itemprop="headline">{{ title }}</h1>
    <div class="post__meta">
      <time class="post__date dt-published" itemprop="datePublished" datetime="{{ page.date | dateToISO }}">Published: {{ page.date | readableDate('yyyy-LL-dd') }}</time>
      {% if last_updated %}
      <span> &sdot; </span>
      <time class="post_updated dt-updated" datetime="{{ last_updated | dateToISO }}">Updated: {{ last_updated | readableDate('yyyy-LL-dd')}}</time>
      {% endif %}
      {% if tags %}
      <span aria-label="in category">&sdot;</span> <span class="post__tags p-category">{{ tags | join(', ') }}</span>
      {% endif %}
    </div>
  
  </header>

    <div class="post__content e-content markdown" itemprop="articleBody">
				{{ date }}
        {{ content | safe }}
    </div>
    
    <div class="post__footer">
      <div hidden>
        <a class="u-url" href="{{ page.url | url | absoluteUrl(site.url) }}">{{ title }}</a>
        <p class="h-card p-author">
            <a class="p-name u-url" rel="author" href="{{ author.url }}">{{ author.name }}</a>
            {# <img class="u-photo" src="{{ author.avatar | url | absoluteUrl(author.url) }}" /> #}
        </p>
      </div>
        <p class="post__footer__info">
            Published in [{{ tags | join(', ') }}] &sdot; {{ page.date | readableDate('dd LLL yyyy') }} <br/>
            <a href="{{ site.repo }}/tree/master/{{ page.inputPath }}" title="suggest a change to this post by submitting a PR">Edit this Post</a>
        </p>
    </div>

</article>
